@model Portal_FYV.Models.Usuario

@{
    ViewBag.Title = "Edit";
}

<div class="bg-white">
    <h2>Editar un registro de usuario</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id_Usuario)

            <div class="row mx-0">
                <div class="col-12 col-sm-6">
                    <h3>Información estandar:</h3>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, "Usuario:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, "Nombre:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Correo, "Correo electrónico:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contrasena, "Contraseña:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Id_Estatus, "Estatus:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("Id_Estatus", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Id_Estatus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha_Aprov, "Fecha de aprobación:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            <input type="date" class="form-control" id="Fecha_Aprov" name="Fecha_Aprov" value="@String.Format("{0:yyyy-MM-dd}", Model.Fecha_Aprov)" />
                            @Html.ValidationMessageFor(model => model.Fecha_Aprov, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Id_Rol, "Rol:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("Id_Rol", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Id_Rol, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.permitir_Fru, "Habilitar búsqueda de Frutas:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.permitir_Fru)
                                @Html.ValidationMessageFor(model => model.permitir_Fru, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.permitir_Sec, "Habilitar búsqueda de Secos:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.permitir_Sec)
                                @Html.ValidationMessageFor(model => model.permitir_Sec, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.permitir_Veg, "Habilitar búsqueda de Verduras:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.permitir_Veg)
                                @Html.ValidationMessageFor(model => model.permitir_Veg, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Prorroga, "Prórroga:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Prorroga, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Prorroga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <h3>Información de proveedor:</h3>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Proveeedor_no_mks, "# Proveedor Merksys:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Proveeedor_no_mks, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Proveeedor_no_mks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sucursal, "Sucursal:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Sucursal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sucursal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Razon_social, "Razón Social:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Razon_social, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Razon_social, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RFC, "RFC:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pais, "País:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Estado, "Estado:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ciudad, "Ciudad:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ciudad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Colonia, "Colonia:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Colonia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Colonia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Localidad, "Localidad:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Localidad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Localidad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Codigo_postal, "Código postal:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Codigo_postal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Codigo_postal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Calle, "Calle:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Calle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Numero, "# de edificio:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Proveeedor_no_mks, "# de Proveedor merksys:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Proveeedor_no_mks, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Proveeedor_no_mks, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto_nombre1, "#1 Contacto:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contacto_nombre1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contacto_nombre1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto_nombre2, "#2 Contacto:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contacto_nombre2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contacto_nombre2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto_nombre3, "#3 Contacto:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contacto_nombre3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contacto_nombre3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto_correo1, "#1 Correo:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contacto_correo1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contacto_correo1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto_correo2, "#2 Correo:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contacto_correo2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contacto_correo2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto_correo3, "#3 Correo:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contacto_correo3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contacto_correo3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto_tel1, "#1 Teléfono:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contacto_tel1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contacto_tel1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto_tel2, "#2 Teléfono:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contacto_tel2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contacto_tel2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto_tel3, "#3 Teléfono:", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contacto_tel3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contacto_tel3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar cambios" class="btn btn-lg btn-success" />
                </div>
            </div>
        </div>
    }

    <script>
    // Al hacer clic en un botón o enviar un formulario
    $('form').submit(function(event) {
        event.preventDefault(); // Prevenir el envío estándar del formulario

        // Convertir los datos del formulario en un objeto
        var formData = {};
        $.each($(this).serializeArray(), function(index, field) {
            // Verificar si el campo es un checkbox
            if ($('[name="' + field.name + '"]').is(':checkbox')) {
                formData[field.name] = $('[name="' + field.name + '"]').is(':checked');
            } else {
                formData[field.name] = field.value;
            }
        });

        // Enviar el objeto por AJAX
        $.ajax({
            url: '@Url.Action("Edit", "Usuarios")',
            type: 'POST',
            data: formData,
            success: function (response) {
                // Manejar la respuesta
                console.log(response);
                toastFill(response)
            },
            error: function(error) {
                // Manejar errores
                console.error('Error:', error);
            }
        });
    });
    </script>
    <div>
        @Html.ActionLink("Regresar", "Index", new { area = "" }, new { @class = "btn btn-link" })
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
