@model IEnumerable<Portal_FYV.Models.UsuariosAltas>

@{
    ViewBag.Title = "Index";
}
<div class="bg-white">
    <h2>Lista de Altas de Usuarios</h2>

    <p>
        @Html.ActionLink("Crear Nuevo", "Create", new { area = "" }, new { @class = "btn btn-success" })
    </p>
    <div class="table-responsive rounded rounded-2 border">
        <table class="table table-striped">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Usuario registrado
                </th>
                <th>
                    Validador
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_UsuarioAlta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario1.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td class="d-flex flex-column gap-3 align-items-end">
                    <button class="btn btn-info rounded-1" onclick="location.href='@Url.Action("Edit", "UsuariosAltas", new { id = item.Id_UsuarioAlta })'"><i class="bi bi-pencil"></i></button>

                    @using (Html.BeginForm("Delete", "UsuariosAltas", new { id = item.Id_UsuarioAlta }, FormMethod.Post, new { @class = "m-0", id = "deleteForm_" + item.Id_UsuarioAlta }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", item.Id_UsuarioAlta)
                        <button class="btn btn-danger rounded-1 w-100" type="button" onclick="confirmDelete(@item.Id_UsuarioAlta, this)"><i class="bi bi-trash"></i></button>
                    }
                </td>
            </tr>
        }

        </table>
    </div>
</div>
