@model Tuple<List<Portal_FYV.Models.REQHDR>, List<Portal_FYV.Models.REQDET>, List<Portal_FYV.Models.UsuariosProductos>, List<Portal_FYV.Models.CatalogoProducto>>

@{
    ViewBag.Title = "Resumen";
    int Id_Usuario = Convert.ToInt32(Session["Id_Usuario"]);
    string rol = Session["Rol"] != null ? Session["Rol"].ToString() : "";
    var descripciones = Model.Item2.Select(x => x.Descripcion).Distinct();
}
<div class="bg-white productos-consolidacion">
    <div class="col-12 col-sm-12 col-md-12 row m-0 p-3 bg-light bg-gradient shadow-sm mb-5 border-end border-start border-5 border-primary rounded">
        <div class="form-group col-12 col-sm-12 d-flex flex-wrap">
            <h2 class="text-primary fw-bold">Productos solicitados.</h2>
            <input type="hidden" name="Id_REQHDRs" id="Id_REQHDRs" value="@String.Join(",", Model.Item1.Select(x => x.Id_REQHDR).ToArray())" />
        </div>

        <div class="form-group col-12 col-sm-6">
            <label class="control-label col-md-12 fw-bold m-0">Fecha de consulta:</label>
            <div class="col-md-10">
                <div>
                    @{
                        var fechas = Model.Item1.OrderBy(x => x.Fecha_creacion).Select(x => x.Fecha_creacion).Distinct();
                        var primeraFecha = fechas.FirstOrDefault();
                        var ultimaFecha = fechas.LastOrDefault();
                    }

                    @primeraFecha - @ultimaFecha
                </div>
            </div>
        </div>

        <div class="form-group col-12 col-sm-6">
            <label class="control-label col-md-12 fw-bold m-0">Total de productos:</label>
            <div class="col-md-10">
                <div>
                    @descripciones.Count()
                    <!--Total Productos-->
                </div>
            </div>
        </div>

        <div class="form-group col-12 col-sm-6 d-none">
            <label class="control-label col-md-12 fw-bold m-0">Sucursales:</label>
            <div class="col-md-10">
                <div>
                    @foreach (var sucursal in Model.Item1.Select(x => x.Sucursal).Distinct())
                    {
                        if (sucursal == "JUA")
                        {
                            <span class="badge rounded-pill text-bg-primary p-2 m-1">@sucursal</span>
                        }
                        else if (sucursal == "GUA")
                        {
                            <span class="badge rounded-pill text-bg-secondary p-2 m-1">@sucursal</span>
                        }
                        else if (sucursal == "OFE")
                        {
                            <span class="badge rounded-pill text-bg-success p-2 m-1">@sucursal</span>
                        }
                        else if (sucursal == "BAL")
                        {
                            <span class="badge rounded-pill text-bg-danger p-2 m-1">@sucursal</span>
                        }
                        else if (sucursal == "GTO")
                        {
                            <span class="badge rounded-pill text-bg-warning p-2 m-1">@sucursal</span>
                        }
                        else if (sucursal == "CDI")
                        {
                            <span class="badge rounded-pill text-bg-info p-2 m-1">@sucursal</span>
                        }
                        else if (sucursal == "JAR")
                        {
                            <span class="badge rounded-pill text-bg-light p-2 m-1">@sucursal</span>
                        }
                        else if (sucursal == "AMG")
                        {
                            <span class="badge rounded-pill text-bg-dark p-2 m-1">@sucursal</span>
                        }
                    }
                </div>
            </div>
        </div>
    
        <div class="form-group col-12 col-sm-6 ms-auto">
            <label class="control-label col-md-12 fw-bold m-0">Monto total:</label>
            <div class="col-md-10">
                <div>
                    <span class="total-suma text-success">$0</span>
                    <!--Monto Total Productos-->
                </div>
            </div>
        </div>
    </div>

    @switch (rol)
    {
        case "Admin+":
        case "Admin":
        case "Compras":

            <div class="table-responsive rounded rounded-2 border">
                <table class="table table-striped mb-0" data-ids="@(String.Join("-", Model.Item1.Select(x => x.Id_REQHDR).ToArray()))" data-idsusps="@(String.Join("-", Model.Item3.Select(x => x.Id_UsuarioProducto).ToArray()))">
                    <thead class="table-dark">
                        <tr>
                            <th>Producto</th>
                            @foreach (var item in Model.Item3.Select(x => x.Usuario.Nombre).Distinct())
                            {
                                <th>@item</th>
                            }
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var producto in Model.Item2)
                        {

                            <tr id="@String.Join("-", Model.Item2.Where(x => x.Descripcion == producto.Descripcion).Select(x => x.Id_REQHDR.ToString()).ToArray())">
                                <td>
                                    <div>
                                        @producto.Descripcion 
                                        @{ 
                                            switch (producto.REQHDR.Sucursal)
                                            {
                                                case "JUA":
                                                    <span class="badge rounded-pill text-bg-primary p-2 m-1">@producto.REQHDR.Sucursal</span>
                                                    break;
                                                case "GUA":
                                                    <span class="badge rounded-pill text-bg-secondary p-2 m-1">@producto.REQHDR.Sucursal</span>
                                                    break;
                                                case "OFE":
                                                    <span class="badge rounded-pill text-bg-success p-2 m-1">@producto.REQHDR.Sucursal</span>
                                                    break;
                                                case "BAL":
                                                    <span class="badge rounded-pill text-bg-danger p-2 m-1">@producto.REQHDR.Sucursal</span>
                                                    break;
                                                case "GTO":
                                                    <span class="badge rounded-pill text-bg-warning p-2 m-1">@producto.REQHDR.Sucursal</span>
                                                    break;
                                                case "CDI":
                                                    <span class="badge rounded-pill text-bg-info p-2 m-1">@producto.REQHDR.Sucursal</span>
                                                    break;
                                                case "JAR":
                                                    <span class="badge rounded-pill text-bg-light p-2 m-1">@producto.REQHDR.Sucursal</span>
                                                    break;
                                                case "AMG":
                                                    <span class="badge rounded-pill text-bg-dark p-2 m-1">@producto.REQHDR.Sucursal</span>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                        <br />
                                        <small class="text-muted">Cantidad: <span id="cantidad-@producto.Id_REQHDR">@(producto.Cantidad_validada > 0 ? producto.Cantidad_validada : 0 )</span></small>
                                    </div>
                                </td>
                                @foreach (var item in Model.Item3.Select(x => x.Id_Usuario).Distinct())
                                {
                                    Portal_FYV.Models.UsuariosProductos usuarioproducto = Model.Item3.Any(x => x.Producto.Descripcion == producto.Descripcion && x.Id_Usuario == item && x.Id_REQHDR == producto.Id_REQHDR) ? Model.Item3.Where(x => x.Producto.Descripcion == producto.Descripcion && x.Id_Usuario == item && x.Id_REQHDR == producto.Id_REQHDR).FirstOrDefault() : new Portal_FYV.Models.UsuariosProductos();
                                    decimal ultimoPrecio = usuarioproducto.Precio >= 0 ? usuarioproducto.Precio : 0;
                                    <td class="seleccionar-precio">
                                        @if (ultimoPrecio != 0)
                                        {
                                            <label class="control-label mb-2" id="label-@String.Join("-", Model.Item2.Where(x => x.Descripcion == producto.Descripcion).Select(x => x.Id_REQDET.ToString()).ToArray())">Precio: $ <span class="text-muted precio-ultimo">@ultimoPrecio</span></label>
                                            <br />
                                            <small class="text-muted cantidad-distribuida">
                                                Cantidad:
                                                <span class="provedor-distribuido-@(usuarioproducto.Id_Usuario + "-" + producto.Id_REQHDR)"
                                                      data-bs-idprov="@usuarioproducto.Id_Usuario"
                                                      data-bs-idusprod="@usuarioproducto.Id_UsuarioProducto"
                                                      data-bs-idrhdr="@producto.Id_REQHDR"
                                                      data-bs-precio="@usuarioproducto.Precio">
                                                    @(usuarioproducto.Cantidad_comprada > 0 ? usuarioproducto.Cantidad_comprada : 0)
                                                </span>
                                            </small>
                                        }
                                        else
                                        {
                                            <label class="control-label mb-2" id="label-@String.Join("-", Model.Item2.Where(x => x.Descripcion == producto.Descripcion).Select(x => x.Id_REQDET.ToString()).ToArray())"><span class="text-danger precio-ultimo">No asignado</span></label>
                                        }
                                    </td>
                                }
                                <td>
                                    <button class="btn btn-sm btn-primary my-2"
                                            data-bs-toggle="modal"
                                            data-bs-target="#seleccionar-precio-modal"
                                            data-bs-idrhdr="@producto.Id_REQHDR"
                                            data-bs-prod="@producto.Descripcion"
                                            data-bs-cant="@(producto.Cantidad_validada > 0 ? producto.Cantidad_validada : 0)"
                                            data-bs-provs="@String.Join("-", Model.Item3.Select(x => x.Id_Usuario).Distinct().ToArray())">
                                        Capturar
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="seleccionar-precio-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="seleccionar-precio-modal-Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="seleccionar-producto-modal-Label"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-muted d-flex flex-column text-center" id="seleccionar-cantidad-modal-Label">
                                Cantidad
                                <span class="text-primary"></span>
                                <input type="hidden" class="hidden-rqhdr" value="" />
                            </h3>
                            <div class="table-responsive rounded rounded-2 border mt-5">
                                <table class="table table-striped mb-0">
                                    <thead class="table-dark">
                                        <tr>
                                            @foreach (var item in Model.Item3.Select(x => x.Id_Usuario).Distinct())
                                            {
                                                <th>@Model.Item3.FirstOrDefault(x => x.Id_Usuario == item).Usuario.Nombre</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @foreach (var item in Model.Item3.Select(x => x.Id_Usuario).Distinct())
                                            {
                                                <td>
                                                    <div class="mb-3 d-flex flex-column">
                                                        Precio de compra:
                                                        <span class="text-muted tag-precio" id="tag-precio-@item">0</span>
                                                    </div>
                                                    <div class="mb-3 d-flex flex-column">
                                                        Precio total:
                                                        <span class="text-muted tag-precio-seleccionado" id="tag-seleccionado-@item">0</span>
                                                    </div>
                                                    <div>
                                                        <label for="input-@item" class="form-label">Cantidad a comprar:</label>
                                                        <input class="form-control" type="number" placeholder="0" id="input-@item" name="input-@item">
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary guardar-precios" onclick="guardarPrecios(this)">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </div>
            <script src="~/Scripts/Resumen_comprador.js"></script>

            break;
        case "Proveedores":

            <div class="table-responsive rounded rounded-2 border">
                <table class="table table-striped mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>Producto</th>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var producto in descripciones)
                        {
                            decimal? cantidad = (Model.Item2.Where(x => x.Descripcion == producto).Select(x => x.Cantidad_validada).Sum() != null ? Model.Item2.Where(x => x.Descripcion == producto).Select(x => x.Cantidad_validada).Sum() : 0);

                            <tr id="@String.Join("-", Model.Item2.Where(x => x.Descripcion == producto).Select(x => x.Id_REQHDR.ToString()).ToArray())">
                                <td>
                                    <div>
                                        @producto
                                    </div>
                                </td>
                                <td>@(Model.Item4.Any(x => x.Descripcion == producto) ? Model.Item4.FirstOrDefault(x => x.Descripcion == producto).Unidades : "NA")</td>
                                <td>@( new HtmlString(cantidad == 0 ? "<span class=\"text-danger\">No asignada</span>" : "<span class=\"text-primary\">" + cantidad.ToString() + "</span>"))</td>
                                <td>
                                    <div>
                                        @if (cantidad != 0)
                                        {
                                            decimal ultimoPrecio = Model.Item3.Any(x => x.Producto.Descripcion == producto) ? Model.Item3.Where(x => x.Producto.Descripcion == producto).OrderByDescending(x => x.Id_UsuarioProducto).FirstOrDefault().Precio : 0;
                                            <label class="control-label mb-2" id="label-@String.Join("-", Model.Item2.Where(x => x.Descripcion == producto).Select(x => x.Id_REQDET.ToString()).ToArray())" for="precio-@String.Join("-", Model.Item2.Where(x => x.Descripcion == producto).Select(x => x.Id_REQDET.ToString()).ToArray())">Precio anterior: $ <span class="text-muted precio-ultimo">@ultimoPrecio</span></label>
                                            <div class="input-group">
                                                <span class="input-group-text">$</span>
                                                <input id="precio-@String.Join("-", Model.Item2.Where(x => x.Descripcion == producto).Select(x => x.Id_REQDET.ToString()).ToArray())" type="number" placeholder="Nuevo precio" class="form-control" value="@ultimoPrecio">
                                                <button class="btn btn-outline-success" data-descripcion="@producto" onclick="guardarPrecio('@String.Join("-", Model.Item2.Where(x => x.Descripcion == producto).Select(x => x.Id_REQDET.ToString()).ToArray())', '@producto', @Id_Usuario, this)" type="button" id="button-addon-@String.Join("-", Model.Item2.Where(x => x.Descripcion == producto).Select(x => x.Id_REQDET.ToString()).ToArray())">Asignar</button>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <script src="~/Scripts/Resumen_proveedor.js"></script>
            </div>

            break;
        default:
            break;
    }

</div>
