@model IEnumerable<Portal_FYV.Models.CatalogoProducto>

@{
    ViewBag.Title = "Index";
}
<div class="bg-white">
    <h2>Lista de Catalogo Productos</h2>

    <p>
        @Html.ActionLink("Crear Nuevo", "Create", new { area = "" }, new { @class = "btn btn-success" })
    </p>

    <div class="table-responsive rounded rounded-2 border">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>
                    @Html.DisplayNameFor(model => model.Clave_numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo_barras)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Linea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sublinea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Familia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subfamilia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estatus)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Catalogo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clave_numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo_barras)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Linea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sublinea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Familia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subfamilia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estatus)
                    </td>
                    <td class="d-flex flex-column gap-3 align-items-end">
                        <button class="btn btn-info rounded-1" onclick="location.href='@Url.Action("Edit", "CatalogoProductos", new { id = item.Id_Catalogo })'"><i class="bi bi-pencil"></i></button>

                        @using (Html.BeginForm("Delete", "CatalogoProductos", new { id = item.Id_Catalogo }, FormMethod.Post, new { @class = "m-0", id = "deleteForm_" + item.Id_Catalogo }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", item.Id_Catalogo)
                            <button class="btn btn-danger rounded-1 w-100" type="button" onclick="confirmDelete(@item.Id_Catalogo, this)"><i class="bi bi-trash"></i></button>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


